body {
    font-family: Verdana, Helvetica, sans-serif;
    background-color: #EEE;
}

table {
	border-collapse: collapse;
}

#resultsTable, #searchResultTable {
	border: #000 solid 2px;
	margin-top: 5px;
}
#resultsTable td, #resultsTable th, #searchResultTable td, #searchResultTable th {
  border: #000 solid 1px;
  padding: 5px;
}

#previousSearches {
	padding:5px;
}